body{
    background-image: url('bg.jpg');
    background-position: right top;
    font-family:B yekan; 
    color: #fff;
}

h1{
    font-size: 50px;
    margin-bottom: 10px;
    text-align: center;   
}

h3{
    margin-top: 0px;
    text-align: center;  
}

.button{
    padding: 10px 40px;
    color: #fff;
    background-color: #1d89e4;
    border: 0;
    border-radius: 10px;
    width: 400px;
    height: 50px;
    font-size: 20px;
}


.flat{
    width: 400px;
    color: #fff;
    border-top: none;
    border-left: none;
    border-right: none;
    background:none;
    
}

.link{
    color:#fff;
    text-decoration: none;
    margin-right:100px;
}

.check_box{
    border: none;
    border-radius: 5px;
}


.container{
    padding:0px 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.fontawesome{
    position: relative;
    margin: 50px 0px;
}

.fontawesome i{
    position: absolute;
    left:0px
}


.text{
    font-size: 15px;
}

input{
    font-size: 15px;
}

img{
    width: 40px;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

}