{%extends "base/main.html"%}
{%load static%}

{%block title%}
Personal Shop - Home
{%endblock%}


{%block body%}
<!-- start Carousel -->
<div class="container">
    <div id="PromoCarousel" class="carousel slide shadow" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#PromoCarousel" data-bs-slide-to="0" aria-label="Slide 1"
                aria-current="true" class="active"></button>
            <button type="button" data-bs-target="#PromoCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#PromoCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{%static 'IMG_TEMP/ASUS_slider.jpg'%}" alt="" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="{%static 'IMG_TEMP/zephyrus_slider.jpg'%}" alt="" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="{%static 'IMG_TEMP/imac_slider.png'%}" alt="" class="d-block w-100">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#PromoCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#PromoCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
    </div>
</div>
<!-- end -->


<!-- start card slider -->
<div class="container text-center mt-5 ">
    <h1 class="text-secondary">Special Offers</h1>
</div>
<div class="bg-gradiant  py-3">
    <div class="container ">
        <div class="col-12 text-center">
        </div>
        <div class="offer-slider">
            <div class="my-slider d-flex justify-content-center align-items-center">

                <div class="col-12 col-lg-4 card-items-custom">
                    <div class="card border-0  custom-card-1">

                        <div class="card-img d-flex ">
                            <div class="overlay"></div>
                            <img class="img-fluid card-img-top" src="{%static 'IMG_TEMP/Monitor.jpg'%}" alt="">
                        </div>

                        <div class="card-body text-center">
                            <h3 class="card-title">Ryzen </h3>
                            <p class="card-text">
                                Price: 16,000,000 $
                            </p>
                            <a href="" class="btn btn-primary ">add to card</a>
                        </div>

                    </div>
                </div>

                <div class="col-12 col-lg-4 card-items-custom">
                    <div class="card border-0   custom-card-1">

                        <div class="card-img d-flex ">
                            <div class="overlay"></div>
                            <img class="img-fluid card-img-top" src="{%static 'IMG_TEMP/Hard.jpg'%}" alt="">
                        </div>

                        <div class="card-body text-center">
                            <h3 class="card-title">Ryzen </h3>
                            <p class="card-text">
                                Price: 16,000,000 $
                            </p>
                            <a href="" class="btn btn-primary ">add to card</a>
                        </div>

                    </div>
                </div>

                <div class="col-12 col-lg-4 card-items-custom">
                    <div class="card border-0   custom-card-1">

                        <div class="card-img d-flex ">
                            <div class="overlay"></div>
                            <img class="img-fluid card-img-top" src="{%static 'IMG_TEMP/Fan.jpg'%}" alt="">
                        </div>

                        <div class="card-body text-center">
                            <h3 class="card-title">Ryzen </h3>
                            <p class="card-text">
                                Price: 16,000,000 $
                            </p>
                            <a href="" class="btn btn-primary ">add to card</a>
                        </div>

                    </div>
                </div>

                <div class="col-12 col-lg-4 card-items-custom">
                    <div class="card border-0   custom-card-1">

                        <div class="card-img d-flex ">
                            <div class="overlay"></div>
                            <img class="img-fluid card-img-top" src="{%static 'IMG_TEMP/GPU.jpg'%}" alt="">
                        </div>

                        <div class="card-body text-center">
                            <h3 class="card-title">Ryzen </h3>
                            <p class="card-text">
                                Price: 16,000,000 $
                            </p>
                            <a href="" class="btn btn-primary ">add to card</a>
                        </div>

                    </div>
                </div>

                <div class="col-12 col-lg-4 card-items-custom">
                    <div class="card border-0   custom-card-1">

                        <div class="card-img d-flex ">
                            <div class="overlay"></div>
                            <img class="img-fluid card-img-top" src="{%static 'IMG_TEMP/CPU.jpg'%}" alt="">
                        </div>

                        <div class="card-body text-center">
                            <h3 class="card-title">Ryzen </h3>
                            <p class="card-text">
                                Price: 16,000,000 $
                            </p>
                            <a href="" class="btn btn-primary ">add to card</a>
                        </div>

                    </div>
                </div>

                <div class="col-12 col-lg-4 card-items-custom">
                    <div class="card border-0   custom-card-1">

                        <div class="card-img d-flex ">
                            <div class="overlay"></div>
                            <img class="img-fluid card-img-top" src="{%static 'IMG_TEMP/RAM.jpg'%}" alt="">
                        </div>

                        <div class="card-body text-center">
                            <h3 class="card-title">Ryzen </h3>
                            <p class="card-text">
                                Price: 16,000,000 $
                            </p>
                            <a href="" class="btn btn-primary ">add to card</a>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<!-- end -->


<!-- start card slider 2 -->
<div class="container text-center mt-5 ">
    <h1 class="text-secondary">Stock Products</h1>
</div>

<div class="container ">
        <div class="bg-light rounded shadow p-3">
        <div class="row">
            <div class="col-8">
                <div class="offer-slider">
                    <div class="my-slider d-flex justify-content-center align-items-center">

                        <div class="col-12 col-lg-4 card-items-custom">
                            <div class="card border-0  custom-card-1">

                                <div class="card-img d-flex ">
                                    <div class="overlay"></div>
                                    <img class="img-fluid card-img-top" src="{%static 'IMG_TEMP/Monitor.jpg'%}" alt="">
                                </div>

                                <div class="card-body text-center">
                                    <h3 class="card-title">Ryzen </h3>
                                    <p class="card-text">
                                        Price: 16,000,000 $
                                    </p>
                                    <a href="" class="btn btn-primary ">add to card</a>
                                </div>

                            </div>
                        </div>

                        <div class="col-12 col-lg-4 card-items-custom">
                            <div class="card border-0   custom-card-1">

                                <div class="card-img d-flex ">
                                    <div class="overlay"></div>
                                    <img class="img-fluid card-img-top" src="{%static 'IMG_TEMP/Hard.jpg'%}" alt="">
                                </div>

                                <div class="card-body text-center">
                                    <h3 class="card-title">Ryzen </h3>
                                    <p class="card-text">
                                        Price: 16,000,000 $
                                    </p>
                                    <a href="" class="btn btn-primary ">add to card</a>
                                </div>

                            </div>
                        </div>

                        <div class="col-12 col-lg-4 card-items-custom">
                            <div class="card border-0   custom-card-1">

                                <div class="card-img d-flex ">
                                    <div class="overlay"></div>
                                    <img class="img-fluid card-img-top" src="{%static 'IMG_TEMP/Fan.jpg'%}" alt="">
                                </div>

                                <div class="card-body text-center">
                                    <h3 class="card-title">Ryzen </h3>
                                    <p class="card-text">
                                        Price: 16,000,000 $
                                    </p>
                                    <a href="" class="btn btn-primary ">add to card</a>
                                </div>

                            </div>
                        </div>

                        <div class="col-12 col-lg-4 card-items-custom">
                            <div class="card border-0   custom-card-1">

                                <div class="card-img d-flex ">
                                    <div class="overlay"></div>
                                    <img class="img-fluid card-img-top" src="{%static 'IMG_TEMP/GPU.jpg'%}" alt="">
                                </div>

                                <div class="card-body text-center">
                                    <h3 class="card-title">Ryzen </h3>
                                    <p class="card-text">
                                        Price: 16,000,000 $
                                    </p>
                                    <a href="" class="btn btn-primary ">add to card</a>
                                </div>

                            </div>
                        </div>

                        <div class="col-12 col-lg-4 card-items-custom">
                            <div class="card border-0   custom-card-1">

                                <div class="card-img d-flex ">
                                    <div class="overlay"></div>
                                    <img class="img-fluid card-img-top" src="{%static 'IMG_TEMP/CPU.jpg'%}" alt="">
                                </div>

                                <div class="card-body text-center">
                                    <h3 class="card-title">Ryzen </h3>
                                    <p class="card-text">
                                        Price: 16,000,000 $
                                    </p>
                                    <a href="" class="btn btn-primary ">add to card</a>
                                </div>

                            </div>
                        </div>

                        <div class="col-12 col-lg-4 card-items-custom">
                            <div class="card border-0   custom-card-1">

                                <div class="card-img d-flex ">
                                    <div class="overlay"></div>
                                    <img class="img-fluid card-img-top" src="{%static 'IMG_TEMP/RAM.jpg'%}" alt="">
                                </div>

                                <div class="card-body text-center">
                                    <h3 class="card-title">Ryzen </h3>
                                    <p class="card-text">
                                        Price: 16,000,000 $
                                    </p>
                                    <a href="" class="btn btn-primary ">add to card</a>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="alert bg-light border-custom " role="alert">
                    <h4 class="text-muted mb-0" href=""><i class="fa fa-newspaper-o" aria-hidden="true"></i>
                        Technology News</h4>
                </div>
                <div class="alert bg-light border-custom p-2" role="alert">
                    <a class="nav-link" href=""><i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp; A simple
                        primary alert</a>
                </div>
                <div class="alert bg-light border-custom p-2" role="alert">
                    <a class="nav-link" href=""><i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp; A simple
                        primary alert</a>
                </div>
                <div class="alert bg-light border-custom p-2" role="alert">
                    <a class="nav-link" href=""><i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp; A simple
                        primary alert</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end -->



<!-- start Ad Block -->
    <div class="container my-3">
        <img class="img-fluid rounded shadow" src="{%static 'IMG_TEMP/AdBlock.jpg'%}" alt="">
    </div>
<!-- end -->


<!-- start brand slider -->
<div class="container text-center mt-5 ">
    <h1 class="text-secondary">Top Brands</h1>
</div>

<div class="container ">
        <div class="bg-light rounded shadow p-3">
        <div class="offer-slider">
            <div class="my-slider d-flex justify-content-center align-items-center">

                <div class="col-12 col-lg-4 card-items-custom">
                    <div class="card border-0  custom-card-4">

                        <div class="card-img d-flex ">
                            <div class="overlay"></div>
                            <img class="img-fluid card-img-top" src="{%static 'IMG_TEMP/Xvision_brand.png'%}" alt="">
                        </div>

                    </div>
                </div>

                <div class="col-12 col-lg-4 card-items-custom">
                    <div class="card border-0  custom-card-4">

                        <div class="card-img d-flex ">
                            <div class="overlay"></div>
                            <img class="img-fluid card-img-top" src="{%static 'IMG_TEMP/TCL_brand.jpg'%}" alt="">
                        </div>

                    </div>
                </div>

                <div class="col-12 col-lg-4 card-items-custom">
                    <div class="card border-0  custom-card-4">

                        <div class="card-img d-flex ">
                            <div class="overlay"></div>
                            <img class="img-fluid card-img-top" src="{%static 'IMG_TEMP/Gplus_brand.jpg'%}" alt="">
                        </div>

                    </div>
                </div>

                <div class="col-12 col-lg-4 card-items-custom">
                    <div class="card border-0  custom-card-4">

                        <div class="card-img d-flex ">
                            <div class="overlay"></div>
                            <img class="img-fluid card-img-top" src="{%static 'IMG_TEMP/Logitech_brand.jpg'%}" alt="">
                        </div>

                    </div>
                </div>

                <div class="col-12 col-lg-4 card-items-custom">
                    <div class="card border-0  custom-card-4">

                        <div class="card-img d-flex ">
                            <div class="overlay"></div>
                            <img class="img-fluid card-img-top" src="{%static 'IMG_TEMP/Huawi_brand.jpg'%}" alt="">
                        </div>

                    </div>
                </div>

                <div class="col-12 col-lg-4 card-items-custom">
                    <div class="card border-0  custom-card-4">

                        <div class="card-img d-flex ">
                            <div class="overlay"></div>
                            <img class="img-fluid card-img-top" src="{%static 'IMG_TEMP/Casio_brand.jpg'%}" alt="">
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- end -->








{%block script%}
<script type="text/javascript">
    $(document).ready(function () {
        $('.my-slider').slick({
            dots: false,
            arrows: true,
            autoplay: true,
            autoplaySpeed: 5000,
            slidesToShow: 5,
            slidesToScroll: 1,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: true
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
            ]
        });
    });
</script>
{%endblock%}

{%endblock%}