{%extends "base/main.html"%}
{%load static%}

{%block title%}
product name
{%endblock%}


{%block body%}
<!-- start breadcrumb -->
<div class="container">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">MotherBoard</a></li>
                <li class="breadcrumb-item active" aria-current="page"> Product name</li>
            </ol>
        </nav>
    </div>
</div>
<!-- end -->


<!-- start product info -->
<div class="container">
    <div class="row">
        <div class=" col-12 col-lg-4  bg-light rounded py-3">
            <div class="cc-parent d-flex justify-content-center">
                <img src="{%static 'IMG_TEMP/Product_img.jpg'%}" alt="" class="img-cstm img-fluid rounded">
                <div class="overlay">
                    <div class=" d-flex flex-column m-1">
                        <i class="fa fa-heart-o fa-tools" aria-hidden="true"></i>
                        <i class="fa fa-bookmark-o fa-tools" aria-hidden="true"></i>
                        <i class="fa fa-exchange fa-tools" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-1">
                <div class="containter">
                    <img src="{%static 'IMG_TEMP/product_tumb0.jpg'%}" alt="" class=" img-fluid rounded ">
                    <img src="{%static 'IMG_TEMP/product_tumb0.jpg'%}" alt="" class=" img-fluid rounded ">
                    <img src="{%static 'IMG_TEMP/product_tumb0.jpg'%}" alt="" class=" img-fluid rounded ">
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 bg-light rounded p-3">
            <p class="h5 title">ROG Strix X570-F Gaming </p>
            <p class="sub-title text-muted">Motherboard ROG Strix X570-F Gaming</p>
            <div class="product-feature">
                <p class="h6 pf-title">Product features:</p>
                <ul>
                    <li class="pf-item text-muted">Ram slot: 4</li>
                    <li class="pf-item text-muted">PCI EXpress 16: 3</li>
                    <li class="pf-item text-muted">Form factor: ATX</li>
                    <a class="pf-item-more nav-link p-0" href="">
                        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                        More...
                    </a>

                </ul>
            </div>
        </div>
        <div class="col-12 col-lg-4 rounded">
            <div class="container bg-light d-flex justify-content-center">
                <div class=" m-2 basket-card w-100">
                    <div class="seller">
                        <h5 class="text-muted"><i class="fa fa-id-card-o px-1 " aria-hidden="true"></i>Seller:</h5>
                        <div class="box-border-bottom">
                            <h6>Asus Market DC <i class="fa fa-check-square-o " aria-hidden="true"></i></h6>
                        </div>
                    </div>
                    <div class="price my-2">
                        <h5 class="text-muted"><i class="fa fa-shield px-1" aria-hidden="true"></i>Guaranty:</h5>
                        <div class="box-border-bottom">
                            <h6>12 month Asus offical guaranty</h6>
                        </div>
                    </div>
                    <div class="price my-2">
                        <h5 class="text-muted"><i class="fa fa-truck px-1" aria-hidden="true"></i>Shippin:</h5>
                        <div class="box-border-bottom">
                            <h6>Post Permium</h6>
                        </div>
                    </div>
                    <div class="price my-2">
                        <h5 class="text-muted"><i class="fa fa-credit-card px-1" aria-hidden="true"></i>invoice:</h5>
                        <div class="box-border-bottom">
                            <h6>12,000,000</h6>
                        </div>
                    </div>


                    <div class="row my-2">
                        <button type="button" class="btn btn-warning">Add To card</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- end -->

{%endblock%}