{%extends "base/main.html"%}
{%load static%}

{%block title%}
product name
{%endblock%}


{%block body%}
<!-- start breadcrumb -->
<div class="container">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">MotherBoard</a></li>
                <li class="breadcrumb-item active" aria-current="page"> Product name</li>
            </ol>
        </nav>
    </div>
</div>
<!-- end -->


<!-- start product info -->
<div class="container">
    <div class="row">
        <div class="col-3 mx-1 bg-light py-1">
            <div class="container-parent d-flex justify-content-center">
                <img src="{%static 'IMG_TEMP/Product_img.jpg'%}" alt="" class="img-cstm img-fluid rounded">
                <div class="overlay d-flex flex-column align-items-center">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                    <i class="fa fa-bookmark" aria-hidden="true"></i>
                    <i class="fa fa-share" aria-hidden="true"></i>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-1">
                <div class="containter">
                    <img src="{%static 'IMG_TEMP/product_tumb0.jpg'%}" alt="" class=" img-fluid rounded ">
                    <img src="{%static 'IMG_TEMP/product_tumb0.jpg'%}" alt="" class=" img-fluid rounded ">
                    <img src="{%static 'IMG_TEMP/product_tumb0.jpg'%}" alt="" class=" img-fluid rounded ">
                </div>
            </div>
        </div>
        <div class="col-8 bg-light rounded">col-8</div>
    </div>
</div>
<!-- end -->

{%endblock%}