{% extends 'base/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block title %}
    Zoomit | {{ post.slug }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row p-2 m-5">
            <div class="col-md-8 box-main p-5">
                <h3 class="pl-1">{{ post.title }}</h3>
                <div class="post-box">
                    <small class="text-muted"> By:{{ post.author }}</small>
                    <a href="{% url 'category_single' category.slug %}">
                        <span class="badge badge-info float-right mb-3">{{ category }}</span>
                    </a>
                    <img src="{{ post.image.url }}" class="card-img-top embed-responsive-item " alt="{{ post.slug }}">
                    <p class="pt-3">{{ post.content }}</p>
                    <small class="text-muted">{{ post.publish_at }}</small>
                </div>

                <hr>
                {% if request.user.is_authenticated %}
                    <h5 class="mt-3">Write your comment:</h5>
                    <div class="alert alert-secondary " role="alert">
                        <form action="{% url 'post_single' post.slug %}" method="post">
                            {% csrf_token %}
                            {{ comment_form }}
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                {% endif %}
                <h5 class="mt-3">Comments:</h5>
                <div class="alert alert-secondary " role="alert">
                    <div class=" mt-3">
                        {% for comment_single in comment %}
                            <small class="text-dark text-uppercase font-weight-bold">{{ comment_single.author }} </small>
                            <small class="text-muted ">|| {{ comment_single.create_at }}</small>
                            <p class="mb-3 ml-2">
                                {{ comment_single.content }}
                            </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-4 box-side">
                {% include 'blog/side_bar.html' %}
            </div>
        </div>
    </div>
{% endblock %}