{%extends 'base/base.html'%}
{% load static %}

{%block title%}
zoomit
{%endblock%}

{%block css%}
<link rel="stylesheet" href="{% static 'css/style.css' %}"> {%endblock%}

{%block body%}

<div class="container">
    <div class="row p-2">
        <div class="col-8 box-main">
            <div class="container">
                {% for post in posts %}

                <div class="card-deck px-2 pt-3">
                    <div class="card">
                        <img src="{{post.image.url}}" class="card-img-top embed-responsive-item" alt="{{post.title}}">
                        <div class="card-body">
                            <a class="stretched-link" href="{%url 'post_single' post.slug%}">
                                <h5 class="card-title">{{post.title}}</h5>
                            </a>

                            <p class="card-text">{{post.content}}</p>
                            <p class="card-text"><small class="text-muted">{{post.publish_at}}</small></p>

                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
        <div class="col-4 box-side">col-4</div>
    </div>
</div>

{%endblock%}